:root {
  --primary: #ebc908;
  --primary-text: #1a1a1a;
  --secondary: #34C5E9;
  --button: #ff1dec;
  --secondary-text: #ffffff;
  --accent: #ffffff;
  --accent-text: #34C5E9;
  --label-text: #000;
}
